.snowflake {
	color: steelblue;
}
.water-drop {
	color:#ff5d58;
}
#equals {
	height: 30px;
	border-bottom: 3px solid lightgray;
	border-top: 3px solid lightgray;
	margin-top: 50px;
}

.zoom-in-icon {
    height: 15px;
    width: 15px;
}

.new-wells-pop-ups {
    position: absolute;
    width: 150px;
    z-index: 1;
    display: none;
    font-size: .6em;
}

#pop-up-1956 {
    top: 38%;
    left: 28%;
}

#pop-up-1976 {
    top: 30%;
    left: 61%;
    width: 180px;
}