
// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);

$global-font-size: 24px;
$global-font-family: 'Proxima Nova', sans-serif;
$titles-font-family: 'Raleway', sans-serif;

$percent-text-left-width: .75;

// Formatting
$container-width: 920px;


// Media
$feature-image-max-width: 2200px;

// Colors
$navbar-background-color: #393939;
$blue: steelblue;
$red: #b42f1d;